
#mapContainer {
    position: relative; 
    width: 100%;
    height: calc(100vh - 56px); /* 56 px being height of header */
    overflow: hidden;
}

#floorHeader {
    position: absolute;
    /* left: 10px;
    top: 10px; */
    z-index: 40;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    width: calc(100vw - 20px);
}

#loadingScreen {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(50, 50, 50, 0.5);

    z-index: 30;
}

#floorImg {
    position: absolute;
}

#userPos {
    position: absolute;
    visibility: hidden; 

    width: 20px; /* width and height don't do anything */
    height: 30px;
    
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid red;

    z-index: 20;
}


/* div to hold the user paths */
#userPaths {
    position: absolute;
    user-select: none;   /* don't let the user select it. */

    z-index: 10;
}
