{% extends "maps/base.html" %}

{% block title %}Floor{% endblock %}

{% block scripts %}
<script src="../../static/maps/floor.js"></script>
<link rel="stylesheet" href="../../static/maps/floor.css">
{% endblock %}

{% block header %}
{% include "maps/subtemplates/header.html" %}
{% endblock %}


{% block body %}
<div id="mapContainer">
    <!-- floor image background -->
    <img src="../../static/maps/{{ img_file }}" id="floorImg">
    
    <!-- hold the triangle for user position -->
    <div id="userPos"></div>

    <!-- hold the paths the user needs to travel.? -->
    <canvas id="userPaths"width="100" height="100"></canvas>
        
    </div>
</div>


{% endblock %}