{% extends "maps/base.html" %}

{% block title %}Scotty Maps{% endblock %}

{% block scripts %}
<!-- Jquery UI -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}

{% block header %}
{% endblock %}


{% block body %}
<div class="container-fluid map-container">
    <img src="../../static/maps/hallofarts.png"  id="draggableImg">
    <div class="clickable-area" id="clickableArea"></div>
</div>



<script>
    $(function() {
      $("#draggableImg").draggable();
    });
    
</script>


{% endblock %}