{% extends "maps/base.html" %}

{% block title %}Login{% endblock %}

{% block header %}
{% include "maps/subtemplates/header.html" %}
{% endblock %}

{% block body %}

{% load widget_tweaks %}

<div class="container-sm">
    

    <form method="post" class="m-3" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="mb-3 row">
            <label class="form-label" for="id_username">{{ form.username.label_tag }}</label>
            {% render_field form.username class="form-control" %}
            {% include "maps/subtemplates/form_field.html" with field=form.username %}
        </div>

        <div class="mb-3 row">
            <label class="form-label" for="id_password">{{ form.password.label_tag }}</label>
            {% render_field form.password class="form-control" %}
            {% include "maps/subtemplates/form_field.html" with field=form.password %}
        </div>

        {% if form.errors %}
            <div>
                <small class="form-text text-danger">
                    Your username and password didn't match. Please try again.
                </small>
            </div>
        {% endif %}
        <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit" value="login">Login</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you set up the password_reset view in your URLconf #}
    <p><a href="{% url 'sign-up' %}">Make an Account</a></p>
</div>

{% endblock %}