{% extends "maps/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block header%}
{% include "maps/subtemplates/header.html" with hide_navbar=True %}
{% endblock %}

{% block body %}

{% load widget_tweaks %}

<div class="container-sm">


    <form method="post" class="m-3" action="{% url 'sign-up' %}">
        {% csrf_token %}

        <div class="mb-3 row">
            <label class="form-label" for="id_username">{{ form.username.label_tag }}</label>
            {% render_field form.username class="form-control" %}
            {% include "maps/subtemplates/form_field.html" with field=form.username %}
        </div>

        <div class="mb-3 row">
            <label class="form-label" for="id_name">{{ form.name.label_tag }}</label>
            {% render_field form.name class="form-control" %}
            {% include "maps/subtemplates/form_field.html" with field=form.name %}
        </div>

        <div class="mb-3 row">
            <label class="form-label" for="id_tag_id">{{ form.tag_id.label_tag }}</label>
            {% render_field form.tag_id class="form-control" %}
            {% include "maps/subtemplates/form_field.html" with field=form.tag_id %}
        </div>

        <div class="mb-3 row">
            <label class="form-label" for="id_password1">{{ form.password1.label_tag }}</label>
            {% render_field form.password1 class="form-control" %}
            {% include "maps/subtemplates/form_field.html" with field=form.password1 %}
        </div>

        <div class="mb-3 row" for="id_password2">
            <label class="form-label">{{ form.password2.label_tag }}</label>
            {% render_field form.password2 class="form-control" %}
            {% include "maps/subtemplates/form_field.html" with field=form.password2 %}
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit" value="login">Make Account</button>
        </div>

    </form>
</div>

{% endblock %}